.dashboard-container{

    background-color: #dae1ed;
    min-height: 50em;
}

.dashboard-item{
     display: flex;
    flex-direction:row;
    margin:2em ;
    flex-basis: 33%;
    background-color: white;
    border-radius: .5em;
    overflow: auto;

}

.dashboard-row{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly; 
}

.mat-icon{
    color:white;
    font-size: 4em;
}

.dashboard-item-title{
    margin:1em;
}

.dashboard-submission-percentage{
    display: flex;
    flex-direction:column;
    margin:2em ;
    flex-basis: 33%;
    background-color: white;
    border-radius: .5em;
    overflow: auto;
}