<div class="tab-container">
  <div class="tab-content">
    <div i18n="@@SUBMISSIONS">Submissions</div>
    <div class="filter-row">
      <div class="filter"><input type="text" placeholder="{{'SEARCH_STUDENT' | translate}}"
          (input)="searchStudents($event.target.value)" pInputText></div>
      <div class="filter">
        <p-dropdown [options]="statuses" [(ngModel)]="selectedStatusFilter" optionLabel="name"
          (onChange)="filterByStatus($event)">
          <ng-template let-item pTemplate="selectedItem">
            <div>{{item.label | translate}}</div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div>{{item.label | translate}}</div>
          </ng-template>



        </p-dropdown>
      </div>
    </div>
    <div>

      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef i18n="@@STUDENT">Student</mat-header-cell>
          <mat-cell *matCellDef="let student"><a href="#">{{student.email}}</a></mat-cell>
        </ng-container>

        <ng-container matColumnDef="group">
          <mat-header-cell *matHeaderCellDef i18n="@@GROUP">Group</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let student">{{student.group}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="submissionTime">
          <mat-header-cell *matHeaderCellDef i18n="@@TIMESTAMP">Timestamp</mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let student">{{student.submissionTime}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="grade">
          <mat-header-cell *matHeaderCellDef i18n="@@GRADED">Graded</mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let student">{{student.grade}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="progressValue">
          <mat-header-cell *matHeaderCellDef i18n="@@DONE">% Done</mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let student">
            <div class="progress-percentage-wrapper">
              <div class="progress-percentage ng-cloak">{{student.progressValue}}</div>
              <round-progress [max]="100" [current]="student.progressValue" [radius]="20" [stroke]="3" [rounded]="false"
                color="#4786ed" [clockwise]="true" [responsive]="false" [duration]="1000"></round-progress>
            </div>

          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="isCheated">
          <mat-header-cell *matHeaderCellDef i18n="@@CHEATING">Cheating</mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let student">
            <mat-icon *ngIf="!student.isCheated;else cheated" style="color: lawngreen">check_circle</mat-icon>
            <ng-template #cheated>
              <mat-icon style="color: red">error</mat-icon>
            </ng-template>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef i18n="@@STATUS">Status</mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let student">
            <button mat-button [ngClass]="student.status">{{student.status}}
            </button>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

      </mat-table>
    </div>
  </div>

</div>