<div id="dashboard">
  <mat-tab-group mat-align-tabs="start" *ngIf="assignments$ | async as assignments">
    <mat-tab>
      <ng-template mat-tab-label i18n="@@PREFERNCES">Preferences</ng-template>
      <ng-template matTabContent>
        <app-preferences-shell></app-preferences-shell>
      </ng-template>
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label i18n="@@DASHBOARD">Dashboard</ng-template>
      <ng-template matTabContent>
        <app-dashboard-shell></app-dashboard-shell>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label i18n="@@CLASROOM">Classroom</ng-template>
      <ng-template matTabContent>
        <app-classroom-shell></app-classroom-shell>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label i18n="@@SUBMISSION">Submission</ng-template>
      <ng-template matTabContent>
        <app-submission-shell [assignments]="assignments"></app-submission-shell>
      </ng-template>
    </mat-tab>
    <mat-tab disabled></mat-tab>
    <mat-tab disabled></mat-tab>

    <mat-tab disabled>
      <ng-template mat-tab-label>
        <button mat-raised-button color="primary" (click)="openPublishDialog()" i18n="@@PUBLISH">
          Publish
        </button>
      </ng-template>
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <button mat-raised-button color="basic" (click)="handlePreviewClick()" i18n="@@PREVIEW">
          Preview
        </button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>