<!-- <div class="classroom-container">
  <div class="classroom-tools">
    <div class="tools-item"><mat-icon>add_circle_outline</mat-icon>Add</div>
    <div class="tools-item"><mat-icon>replay</mat-icon>Refresh</div>
    <div class="tools-item"><mat-icon>delete_outline</mat-icon>Trash</div>
  </div>
</div> -->
<div class="tab-container">
  <app-classroom-tools></app-classroom-tools>
  <app-classroom-stats [allStudentsCount]="allStudentsCount" [noOfTeachingAssistants]="noOfTeachingAssistants"
    [noOfProjectGroups]="noOfProjectGroups" [totalSpendings]="totalSpendings"></app-classroom-stats>
  <app-classroom-students [assignments]="assignments$ | async"></app-classroom-students>
</div>