<div class="classroom-stats">
  <div class="stats-item">
    <div class="stat-icon"><i class="fas fa-user-graduate fa-3x"></i></div>
    <div class="item-title">
      <div class="stats-data">{{ allStudentsCount }}</div>
      <div class="stats-title" i18n="@@ALL_STUDENTS">All Students</div>
    </div>
  </div>
  <div class="stats-item">
    <div class="stat-icon">
      <mat-icon>chat_bubble_outline</mat-icon>
    </div>
    <div class="item-title">
      <div class="stats-data">{{ noOfTeachingAssistants }}</div>
      <div class="stats-title" i18n="@@TEACHING_ASSISTANTS">Teaching Assistants</div>
    </div>
  </div>
  <div class="stats-item">
    <div class="stat-icon">
      <mat-icon>people_outline</mat-icon>
    </div>
    <div class="item-title">
      <div class="stats-data">{{ noOfProjectGroups }}</div>
      <div class="stats-title" i18n="@@PROJECT_GROUPS">Project Groups</div>
    </div>
  </div>
  <div class="stats-item">
    <div class="stat-icon">
      <mat-icon>attach_money</mat-icon>
    </div>
    <div class="item-title">
      <div class="stats-data">{{ totalSpendings }}</div>
      <div class="stats-title" i18n="@@SPENDING">Spendings</div>
    </div>
  </div>
</div>